.logo {
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
    margin-left:48px;
}

.links {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color:#E5E7EB;
    list-style: none;
    display:flex;
    margin-right:48px;
    gap:24px;
    padding-left: 0px;
}

.hero {
    border:solid white;
}

.hero-text {
    
    width:400px;
    display:flex;
    flex-direction: column;
}

.hero-text p {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color:#E5E7EB;
    display:flex;
    margin-right: 48px;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero,
.header {
    background-color: #1F2937;
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    margin-bottom: 4px;
}

.hero {
    display:flex;
    justify-content: center;
    padding-bottom: 48px;
    padding-top:48px;
}
.hero-image {
    display:flex;

}

.hero-image p {
    background-color: gray;
    color:#E5E7EB;
    display:flex;
    align-self: center;
    padding:90px 100px 90px 100px;
    text-wrap:nowrap;
    font-size: 18px;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    border-color: #3882F6;
    font-weight: 700;
    display:flex;
    align-self:flex-start;
}

.random {
    background-color: #F9FAF8;
    display:flex;
    flex-direction: column;
    padding: 48px;
}

.random-head {
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    flex-grow: 1;
}

.box-section {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:32px;
    margin-top:32px;
    flex-shrink: 1;
    margin-right: 8px;
    margin-left: 8px;
}

.box {
    height:175px;
    width:175px;
    border:solid;
    border-color:#3882F6;
    border-radius: 8px;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 1;
}

.text {
    text-align: center;
    width:175px;
    text-wrap: wrap;
}

.quote {
    background-color: #E5E7EB;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:48px;
    gap:16px;
}

.quote-text {
    color:#1F2937;
    font-size:36px;
    font-style: italic;
    text-align: center;
    width:750px;
    margin: 0px auto 0px auto;
    display:flex;
    flex-shrink: 1;
}

.quote-from {
    width:750px;
    text-align: right;
    margin:0 auto 0 auto;
    font-weight: 900;
    font-family:'Roboto',sans-serif;
    font-size: 24px;

}

.action {
    background-color:#F9FAF8;
    padding: 48px 0px 48px 0px;

}

.call-to-action {
    background-color: #3882F6;
    margin: 0 auto 0 auto;
    width:750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    padding: 16px 0px 16px 0px;
}

.action-text {
    color:#E5E7EB;
}

.action-text h3 {
    font-family: 'Roboto',sans-serif;
    font-size:18px;
    font-weight: 900;
    margin-bottom:-12px;
}

.action-text p {
    font-size:16px;
}

.action-button {
    border: solid #E5E7EB;
    border-radius: 5px;
    color:#E5E7EB;
    padding: 4px 8px 4px 8px;
}

.footer {
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#E5E7EB;
    padding:8px 0px 8px 0px;
    font-family: 'Roboto',sans-serif;

}