.logo {
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    color:#F9FAF8;
    font-weight: 900;
    margin-left:48px;

}

.links {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color:#E5E7EB;
    list-style: none;
    display:flex;
    margin-right:10%;
    gap:24px;
    padding-left: 0px;
}

.hero-text {
    align-self: center;
    padding-right:0;
}

.hero-text p {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    color:#E5E7EB;
    display:flex;
    margin-right: 48px;
    width:60%;
}

a {
    text-decoration: none;
}

.header {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.hero,
.header {
    background-color: #1F2937;
}

.hero-text h1 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
    width:50%;

}

.hero {
    display:flex;
    justify-content: space-between;


}
.hero-image {
    display:flex;
    width:50%;

}

.hero-image p {
    background-color: gray;
    color:#E5E7EB;
    display:flex;
    align-self: center;
    padding:80px 128px 80px 128px;
    text-wrap:nowrap;
    font-size: 18px;
    margin-right:256px;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    border-color: #3882F6;
    font-weight: 700;
}

.hero-image,
.hero-image p {
    border: solid white;
}
